:root {
    --c-background: #29363B;    
    --c-dark: #653641;
    --c-darker: #320711;
    --c-stroke: #111;
}

* { 
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--c-background);
    color: white;

    & .container {
        position: fixed;
        display: block;
        width: 80rem;

        --stroke-width: 0.2rem;
        --tab-width: 14rem;
        --tab-height: 2.5rem;
        --tab-offset: -2.5rem;
        --drag-inset: var(--tab-height);
        --drag-width: calc(var(--tab-height) + var(--drag-inset));

        --magic-number-1: calc(sqrt(2));
        --magic-number-2: calc(1 / (sqrt(2) + 1));

        & button {
            color: inherit;
        }

        & .tabs {

            position: relative;
            display: flex;
            height: var(--tab-height);
            background-color: transparent;

            & .tab {
                width: calc(var(--tab-width) + 2 * var(--stroke-width));
                border: none;
                background-color: var(--c-stroke);

                translate: calc(0px - var(--stroke-width) * var(--magic-number-1)) 0px;

                &:first-of-type {
                    clip-path: polygon(
                        var(--tab-height) 0%,
                        calc(100% - var(--tab-height)) 0%,
                        100% 100%,
                        calc(var(--stroke-width) * var(--magic-number-2)) 100%,
                        calc(var(--stroke-width) * var(--magic-number-2))
                            calc(100% - var(--stroke-width) * var(--magic-number-2))
                    );
                }
                &:not(:first-of-type) {
                    translate: var(--tab-offset) 0;
                    clip-path: polygon(
                        var(--tab-height) 0%,
                        calc(100% - var(--tab-height)) 0%,
                        100% 100%,
                        0% 100%
                    );
                }

                z-index: 509;
                &.active {
                    z-index: 511;
                    button {
                        background-color: var(--c-dark);
                    }
                }

                & button {
                    width: calc(100% - 2 * var(--stroke-width) * var(--magic-number-1));
                    height: calc(100% - var(--stroke-width));
                    border: none;
                    background-color: var(--c-darker);
                    z-index: inherit;

                    margin-top: calc(var(--stroke-width));
                    margin-left: calc(var(--stroke-width) * var(--magic-number-1));

                    clip-path: polygon(
                        calc(var(--tab-height) - var(--stroke-width)) 0%,
                        calc(100% - var(--tab-height) + var(--stroke-width)) 0%,
                        100% 100%, 0% 100%
                    );
                }
            }

            & .drag-handle {
                position: absolute;
                right: 0;
                width: var(--drag-width);
                height: var(--tab-height);
                background-color: var(--c-stroke);
                z-index: 515;

                border-right: var(--stroke-width) solid var(--c-stroke);

                translate: var(--stroke-width) 0%;

                clip-path: polygon(
                    var(--drag-inset) 0%,
                    100% 0%,
                    100% 100%,
                    0% 100%
                );

                & button {
                    display: block;
                    width: calc(100% - var(--stroke-width) * var(--magic-number-2));
                    height: 100%;
                    border: none;
                    padding-left: 2em;
                    background-color: var(--c-dark);

                    margin-top: calc(var(--stroke-width));
                    margin-left: calc(var(--stroke-width) * var(--magic-number-2));

                    clip-path: polygon(
                        calc(var(--drag-inset)) 0%,
                        100% 0%,
                        100% 100%,
                        0% 100%
                    );
                }
            }
        }
        
        & .panes {
            position: relative;
            display: flex;
            height: 20rem;
            background-color: var(--c-dark);
            z-index: 510;

            border: var(--stroke-width) solid var(--c-stroke);
            margin-top: calc(0px - var(--stroke-width));
            margin-left: calc(0px - var(--stroke-width));
            margin-right: calc(0px - var(--stroke-width));

            --end-tab: calc(var(--tab-width));

            clip-path: polygon(
                0% var(--stroke-width),
                var(--stroke-width) 0%,
                100% 0%,
                100% 100%,
                0% 100%
            );

            & .pane {
                padding: 10px;

                &:not(.active) {
                    display: none;
                }
            }
        }
    }
}
